.contianer{
    width: 100hw;
    text-align: center;
    display: flex;
        justify-content: center;
    &{
        position: relative;
        padding: 15px;
        left: 35%;
        top: 5%;
        transform: translate(50px ,50px);
        width: 350px;
        min-height: 350px;
        border-radius: 0.5rem;
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
    
    a{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color:blue;
        }
    }

}